<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/29326c2a-b2a6-49f9-8eaa-95b696ea598c/resourceGroups/invim-services/providers/Microsoft.Web/sites/nvm-restxcel</ResourceId>
    <ResourceGroup>invim-services</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://nvm-restxcel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>33bff96f-db6a-4df8-8d1b-9d278899a2e2</ProjectGuid>
    <PublishUrl>https://nvm-restxcel.scm.azurewebsites.net/</PublishUrl>
    <UserName>$nvm-restxcel</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>